<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>NewsFeed</title>
  <meta name="robots" content="noindex, follow" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Chicle&family=Kavoon&family=Old+Standard+TT&family=Racing+Sans+One&display=swap" rel="stylesheet">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="" />

  <!-- CSS
	============================================ -->
  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900"
    rel="stylesheet" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css" />
  <!-- Icon Font CSS -->
  <link rel="stylesheet" href="assets/css/vendor/bicon.min.css" />
  <!-- Flat Icon CSS -->
  <link rel="stylesheet" href="assets/css/vendor/flaticon.css" />
  <!-- audio & video player CSS -->
  <link rel="stylesheet" href="assets/css/plugins/plyr.css" />
  <!-- Slick CSS -->
  <link rel="stylesheet" href="assets/css/plugins/slick.min.css" />
  <!-- nice-select CSS -->
  <link rel="stylesheet" href="assets/css/plugins/nice-select.css" />
  <!-- perfect scrollbar css -->
  <link rel="stylesheet" href="assets/css/plugins/perfect-scrollbar.css" />
  <!-- light gallery css -->
  <link rel="stylesheet" href="assets/css/plugins/lightgallery.min.css" />
  <!-- Main Style CSS -->
  <link rel="stylesheet" href="style.css" />

  <script src="https://kit.fontawesome.com/b1767921c9.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">

    <header>
      <div class="header-top sticky bg-white d-none d-lg-block">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-5">
              <!-- header top navigation start -->
              <div class="header-top-navigation">
                <nav>
                  <ul>
                    <li class="active"><a href="/profile">Home</a></li>

                    <li class="active"><a href="/about">About</a></li>

                    <li class="active"><a href="/investment">Investments</a></li>
                  </ul>
                </nav>
              </div>
              <!-- header top navigation start -->
            </div>

            <div class="col-md-2">
              <!-- brand logo start -->
              <div class="brand-logo text-center " >
                <a href="/profile">
                  <img src="/img/crownlogo.gif" alt="brand logo" class= "logo1" />
                </a>
              </div>
              <!-- brand logo end -->
            </div>

            <div class="col-md-5">
              <div class="header-top-right d-flex align-items-center justify-content-end">
                <!-- header top search start -->
                <div class="header-top-search">
                  <h3 class="quote">"An investment in knowledge pays the best interest."</h3>
                </div>
                <a href="/logout" class="">Logout</a>

    </header>
    </div>
    
    <header>
      <div class="mobile-header-wrapper sticky d-block d-lg-none">
        <div class="mobile-header position-relative">
          <div class="mobile-logo">
            <a href="/profile">
              <img src="assets/images/logo/logo-white.png" alt="logo" />
            </a>
          </div>
          <div class="mobile-menu w-100">
            <ul>
              <li class="active"><a href="/profile">Home</a></li>
              <li class="active"><a href="/about">About</a></li>
              <li class="active"><a href="/investment">Investments</a></li>
            </ul>
          </div>
        </div>
      </div>
 
  </header>

  <main>

    <div class="stockrectangle">
      <h2 class="stocksearches">Stock Searches</h2>
      
      <form action="">
        <input text="" placeholder="Enter stock symbol here..." id="stockSymbol" class="stocksymbol">
        <button type="button" id="button1" class="btn1">Search</button>
        <h1 class="stockName" id="stockName"></h1>

        <span>Stock Open: </span>
        <div class="stockopen" id="stockOpen"></div>
        <span>Stock High: </span>
        <div class="stockhigh" id="stockHigh"></div>
        <span>Stock Low: </span>
        <div class="stocklow" id="stockLow"></div>
        <span>Stock Closing: </span>
        <div class="stockclose" id="stockClose"></div>
        <span>Stock Volume: </span>
        <div class="stockvolume" id="stockVolume"></div>
      </form>
    </div>

    <div class="cryptorectangle">
      <h2 class = "cryptosearches">Crypto Searches</h2>
      <form action="">
        <input text="" placeholder="Enter crypto symbol here..." id="cryptoSymbol" class="cryptosymbol">
        <button type="button" id="button2" class="btn1">Search</button>
        <h1 class="cryptoName" id="cryptoName"></h1>

        <span>Crypto Open: </span>
        <div class="cryptoopen" id="cryptoOpen"></div>
        <span>Crypto High: </span>
        <div class="cryptohigh" id="cryptoHigh"></div>
        <span>Crypto Low: </span>
        <div class="cryptolow" id="cryptoLow"></div>
        <span>Crypto Closing: </span>
        <div class="cryptoclose" id="cryptoClose"></div>
        <span>Crypto Volume: </span>
        <div class="cryptovolume" id="cryptoVolume"></div>
      </form>
    </div>


    <div class="main-wrapper pt-80">
      <h1 class="welcome">Welcome back, $ <%= user.local.email %> $. May your investments reach the moon! </h1>
      <div class="page-header text-center">
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-3 order-2 order-lg-1">
            <aside class="widget-area">
            </aside>
          </div>

          <div class="col-lg-6 order-1 order-lg-2">
            <!-- share box start -->
            <div class="share-content-box w-100">

              <div class="firstpost">
              <% if (user.local.email) { %>
                <form action="/makePost" method="POST">

                  <input type="radio" name="typepost" id="" value="GENERAL">
                  <label>General</label>
                  <input type="radio" name="typepost" id="" value="BUYING">
                  <label>Buying</label>
                  <input type="radio" name="typepost" id="" value="SELLING">
                  <label>Selling</label>
                  <input type="text" placeholder="STOCKS/CRYPTOS/ETC... YOU WANT TO MENTION!" name="invest"
                    class="feedBox invest" id="searching" aria-disabled="true">
                  <input type="text" value="<%= user.local.email %>" name="name" hidden class="name">
                  <input type="text" placeholder="Thoughts? Comments?" name="msg" class="feedBox" aria-disabled="true">
                  <button class="btn-share postbtn1" type="submit">POST</button>

                </form>
                </div>

                <div class = "secondpost">
                <% } %>
                  <% if (user.local.email) { %>
                    <form action="/makePost2" method="POST" enctype="multipart/form-data">
                      <h3 class= "pictureposts">USE THIS FOR POSTS WITH PICTURES</h3>
                      <input type="radio" name="typepost" id="" value="GENERAL">
                      <label>General</label>
                      <input type="radio" name="typepost" id="" value="BUYING">
                      <label>Buying</label>
                      <input type="radio" name="typepost" id="" value="SELLING">
                      <label>Selling</label>
                      <input type="text" placeholder="STOCKS/CRYPTOS/ETC... YOU WANT TO MENTION!" name="invest"
                        class="feedBox invest" id="searching" aria-disabled="true">
                      <input type="text" value="<%= user.local.email %>" name="name" hidden class="name">
                      <input type="text" placeholder="Thoughts? Comments?" name="msg" class="feedBox"
                        aria-disabled="true">
                      <input type="file" name="file-to-upload">
                      <button class="btn-share postbtn1" type="submit">POST</button>
                    </form>
                    <% } %>
                  </div>

            </div>

          </div>

        </div>

        <div class="share-box-inner">
          <!-- profile picture end -->
          <!-- <div class="profile-thumb">
                  <a href="#">
                    <figure class="profile-thumb-middle">
                      <img
                        src=""
                        alt="profile picture"
                      />
                    </figure>
                  </a>
                </div> -->
          <!-- profile picture end -->

          <!-- share content box start -->
          <div class="share-content-box w-100">
          </div>
        </div>
        <!-- share box end -->

        <h1 class="newsheader"> NEWSFEED</h1>
        <ul class="posts">
          <% for(let i=0; i<posts.length; i++) {%>
            <% let color="yellow" %>
              <% if (posts[i].typepost==="BUYING" ){ %>
                <% color="green" %>
                  <% } %>
                    <% if(posts[i].typepost==="SELLING" ){%>
                      <% color="red" %>
                        <% } %>
                          <li class="message1 " id="<%= posts[i]._id %>">

                            <div class="typepost" style="background-color:<%= color %>;">
                              <%= posts[i].typepost %>
                            </div>

                            <div class="userName"><a href="/page/<%= posts[i].postedBy %>">Posted by: <%= posts[i].name
                                  %></a>
                            </div>

                            <hr class="line">
                            <span class="investment">Investment: <%= posts[i].invest %></span>
                            <hr class="line">

            
                              <a href="/post/<%= posts[i]._id %>">
                                <img src="<%= posts[i].img %>" alt="" class="newsfeedimages">
                              </a>


                              <hr class="line">
                              <span class="userMessage">Thoughts: <%= posts[i].msg %></span>
                              <hr class="line">

                             
                                <span class="heart"><i class="fa-solid fa-heart" aria-hidden="true"></i></span>
                                <span class ="heartnumber"><%= posts[i].heart %></span>
                              
                              
                                    
                               
                                  <span class ="thumbsdown"><i class="fa-solid fa-thumbs-down" aria-hidden="true"></i></span>
                                  <span class="downtotal"><%= posts[i].thumbDown %></span>
                                 

                              <input value="<%= posts[i]._id %>" class="objectId" hidden>
                              <input type="text" name="comment" id="commentBox" aria-disabled="true"
                                placeholder="Write your comment here..." class="commentbox">
                              <button class="addComment cmntbtn" type="button">POST</button>

                              <% for(let j=0; j< posts[i].comment.length; j++) { %>
                              <p class ="commentp"><span><%= posts[i].comment[j][0] %> says:</span>
                              <span><%= posts[i].comment[j][1] %></span></p>
                              <% } %>


                          </li>
                          <% } %>
        </ul>
        </aside>
      </div>
    </div>
    </div>
    </div>
  </main>

  </div>
  <!-- JS
============================================ -->

  <!-- Modernizer JS -->
  <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
  <!-- jQuery JS -->
  <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
  <!-- Slick Slider JS -->
  <script src="assets/js/plugins/slick.min.js"></script>
  <!-- nice select JS -->
  <script src="assets/js/plugins/nice-select.min.js"></script>
  <!-- audio video player JS -->
  <script src="assets/js/plugins/plyr.min.js"></script>
  <!-- perfect scrollbar js -->
  <script src="assets/js/plugins/perfect-scrollbar.min.js"></script>
  <!-- light gallery js -->
  <script src="assets/js/plugins/lightgallery-all.min.js"></script>
  <!-- image loaded js -->
  <script src="assets/js/plugins/imagesloaded.pkgd.min.js"></script>
  <!-- isotope filter js -->
  <script src="assets/js/plugins/isotope.pkgd.min.js"></script>

  <script src="main.js"></script>

</body>

</html>